<!DOCTYPE html>
<html>
  <head>
    <title>AssociationPractice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "All Posts", posts_path %>
      <%= link_to "New Post", new_post_path %>
    </nav>
    <%= yield %>
  </body>
</html>
